body{
    background-color:  rgb(51, 37, 51);
    color: honeydew;
    font-family: 'Outfit', sans-serif;
    display: inline;
    text-align: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.content{
    padding-bottom: 150px;
    background-image: url("img/content-bg.jpg");
    background-size: cover;
    background-position: center;
    
}

